/*
Catppuccin
Soothing pastel theme for Yomitan
Frappé, Blue
Made by ImenaOphelia with Whiskers
*/
body {
    font-family: Inter, system-ui, sans-serif;
}
:root[data-theme=dark] {
    --background-color: #303446;
    --gloss-image-background-color: #414559;
    --accent-color: #8caaee;
    --accent-color-lighter: var(--accent-color);
    --button-default-icon-color: var(--accent-color);
    --link-color: #8caaee;

    --text-color: #c6d0f5;

    --light-border-color: #414559;

    --input-background-color: #414559;

    --toggle-track-color: #838ba7;
    --toggle-knob-color: #949cbb;

    --tag-text-color: #303446;
    --tag-border-color: transparent;
    --tag-default-background-color: #414559;
    --tag-name-background-color: #ea999c;
    --tag-expression-background-color: #ef9f76;
    --tag-popular-background-color: #8caaee;
    --tag-frequent-background-color: #81c8be;
    --tag-archaism-background-color: #e78284;
    --tag-dictionary-background-color: #babbf1;
    --tag-frequency-background-color: #a6d189;
    --tag-part-of-speech-background-color: #51576d;
    --tag-search-background-color: #414559;
    --tag-pronunciation-dictionary-background-color: #ca9ee6;
}


.tag[data-category='partOfSpeech'] .tag-label-content, .tag[data-category='default'] .tag-label-content, .tag[data-category='search'] .tag-label-content {
  color: #c6d0f5 !important;
}


