/*
Catppuccin
Soothing pastel theme for Yomitan
Macchiato, Flamingo
Made by ImenaOphelia with Whiskers
*/
body {
    font-family: Inter, system-ui, sans-serif;
}
:root[data-theme=dark] {
    --background-color: #24273a;
    --gloss-image-background-color: #363a4f;
    --accent-color: #f0c6c6;
    --accent-color-lighter: var(--accent-color);
    --button-default-icon-color: var(--accent-color);
    --link-color: #8aadf4;

    --text-color: #cad3f5;

    --light-border-color: #363a4f;

    --input-background-color: #363a4f;

    --toggle-track-color: #8087a2;
    --toggle-knob-color: #939ab7;

    --tag-text-color: #24273a;
    --tag-border-color: transparent;
    --tag-default-background-color: #363a4f;
    --tag-name-background-color: #ee99a0;
    --tag-expression-background-color: #f5a97f;
    --tag-popular-background-color: #8aadf4;
    --tag-frequent-background-color: #8bd5ca;
    --tag-archaism-background-color: #ed8796;
    --tag-dictionary-background-color: #b7bdf8;
    --tag-frequency-background-color: #a6da95;
    --tag-part-of-speech-background-color: #494d64;
    --tag-search-background-color: #363a4f;
    --tag-pronunciation-dictionary-background-color: #c6a0f6;
}


.tag[data-category='partOfSpeech'] .tag-label-content, .tag[data-category='default'] .tag-label-content, .tag[data-category='search'] .tag-label-content {
  color: #cad3f5 !important;
}


