---
whiskers:
  version: "^2.0.0"
  matrix:
    - flavor
    - accent
  filename: 'themes/{{flavor.identifier}}/{{accent}}.css'
---
/*
Catppuccin
Soothing pastel theme for Yomitan
{{ flavor.name }}, {{ flavor.colors[accent].name }}
Made by ImenaOphelia with Whiskers
*/
body {
    font-family: Inter, system-ui, sans-serif;
}
:root{% if flavor.dark %}[data-theme=dark]{% endif %} {
    --background-color: #{{ base.hex }};
    --gloss-image-background-color: #{{ surface0.hex }};
    --accent-color: #{{ flavor.colors[accent].hex }};
    --accent-color-lighter: var(--accent-color);
    --button-default-icon-color: var(--accent-color);
    --link-color: #{{ blue.hex }};

    --text-color: #{{ text.hex }};

    --light-border-color: #{{ surface0.hex }};

    --input-background-color: #{{ surface0.hex }};

    --toggle-track-color: #{{ overlay1.hex }};
    --toggle-knob-color: #{{ overlay2.hex }};

    {% if flavor.dark %}--tag-text-color: #{{ base.hex }};{% endif %}
    --tag-border-color: transparent;
    --tag-default-background-color: #{{ surface0.hex }};
    --tag-name-background-color: #{{ maroon.hex }};
    --tag-expression-background-color: #{{ peach.hex }};
    --tag-popular-background-color: #{{ blue.hex }};
    --tag-frequent-background-color: #{{ teal.hex }};
    --tag-archaism-background-color: #{{ red.hex }};
    --tag-dictionary-background-color: #{{ lavender.hex }};
    --tag-frequency-background-color: #{{ green.hex }};
    --tag-part-of-speech-background-color: #{{ surface1.hex }};
    --tag-search-background-color: #{{ surface0.hex }};
    --tag-pronunciation-dictionary-background-color: #{{ mauve.hex }};
}

{% if flavor.dark %}
.tag[data-category='partOfSpeech'] .tag-label-content, .tag[data-category='default'] .tag-label-content, .tag[data-category='search'] .tag-label-content {
  color: #{{ text.hex }} !important;
}
{% endif %}

